// Typography

$body-font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
  roboto, "Helvetica Neue", arial, sans-serif !default;
$mono-font-family: "SFMono-Regular", menlo, consolas, monospace !default;
$root-font-size: 16px !default; // Base font-size for rems
$body-line-height: 1.4 !default;
$content-line-height: 1.6 !default;
$body-heading-line-height: 1.25 !default;

// Font size
// `-sm` suffix is the size at the small (and above) media query

$font-size-1: 9px !default;
$font-size-1-sm: 10px !default;
$font-size-2: 11px !default; // h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 12px !default; // h5
$font-size-4: 14px !default;
$font-size-5: 16px !default; // h3
$font-size-6: 18px !default; // h2
$font-size-7: 24px !default;
$font-size-8: 32px !default; // h1
$font-size-9: 36px !default;
$font-size-10: 42px !default;
$font-size-10-sm: 48px !default;

// Colors

$white: #fff !default;

$grey: #959396  !default;
$purple: #5e41d0 !default;
$blue: #2c84fa !default;
$green: #11b584 !default;
$yellow: #fadf50 !default;
$red: #f96e65 !default;
$success : #198754 !default;
$error : #dc3545 !default;
$primary : $purple !default;
$secondary : $grey !default;

$colors: (
  "grey":       $grey,
  "blue":       $blue,
  "purple":     $purple,
  "red":        $red,
  "yellow":     $yellow,
  "green":      $green,
  "success":    $success,
  "error":      $error,
  "primary":    $primary,
  "secondary":  $secondary
) !default;

$grey-000: #f5f6fa  !default;
$grey-100: #eeebee  !default;
$grey-200: #ecebed  !default;
$grey-300: #e6e1e8  !default;
$grey-400: $grey      !default;
$grey-500: #5c5962  !default;
$grey-600: #44434d  !default;
$grey-700: #302d36  !default;
$grey-800: #27262b  !default;

$greys: (
  "grey-000": $grey-000,
  "grey-100": $grey-100,
  "grey-200": $grey-200,
  "grey-300": $grey-300,
  "grey-400": $grey-400,
  "grey-500": $grey-500,
  "grey-600": $grey-600,
  "grey-700": $grey-700,
  "grey-800": $grey-800
) !default;


$purple-000: tint-color($purple, 80%) !default;
$purple-100: tint-color($purple, 60%) !default;
$purple-200: tint-color($purple, 40%) !default;
$purple-300: tint-color($purple, 20%) !default;
$purple-400: $purple !default;
$purple-500: shade-color($purple, 20%) !default;
$purple-600: shade-color($purple, 40%) !default;
$purple-700: shade-color($purple, 60%) !default;
$purple-800: shade-color($purple, 80%) !default;

$purples: (
  "purple-000": $purple-000,
  "purple-100": $purple-100,
  "purple-200": $purple-200,
  "purple-300": $purple-300,
  "purple-400": $purple-400,
  "purple-500": $purple-500,
  "purple-600": $purple-600,
  "purple-700": $purple-700,
  "purple-800": $purple-800
) !default;

$blue-000: tint-color($blue, 80%) !default;
$blue-100: tint-color($blue, 60%) !default;
$blue-200: tint-color($blue, 40%) !default;
$blue-300: tint-color($blue, 20%) !default;
$blue-400: $blue !default;
$blue-500: shade-color($blue, 20%) !default;
$blue-600: shade-color($blue, 40%) !default;
$blue-700: shade-color($blue, 60%) !default;
$blue-800: shade-color($blue, 80%) !default;

$blues: (
  "blue-000": $blue-000,
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "blue-800": $blue-800
) !default;

$green-000: tint-color($green, 80%) !default;
$green-100: tint-color($green, 60%) !default;
$green-200: tint-color($green, 40%) !default;
$green-300: tint-color($green, 20%) !default;
$green-400: $green !default;
$green-500: shade-color($green, 20%) !default;
$green-600: shade-color($green, 40%) !default;
$green-700: shade-color($green, 60%) !default;
$green-800: shade-color($green, 80%) !default;

$greens: (
  "green-000": $green-000,
  "green-100": $green-100,
  "green-200": $green-200,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "green-800": $green-800
) !default;

$yellow-000: tint-color($yellow, 80%) !default;
$yellow-100: tint-color($yellow, 60%) !default;
$yellow-200: tint-color($yellow, 40%) !default;
$yellow-300: tint-color($yellow, 20%) !default;
$yellow-400: $yellow !default;
$yellow-500: shade-color($yellow, 20%) !default;
$yellow-600: shade-color($yellow, 40%) !default;
$yellow-700: shade-color($yellow, 60%) !default;
$yellow-800: shade-color($yellow, 80%) !default;

$yellows: (
  "yellow-000": $yellow-000,
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "yellow-600": $yellow-600,
  "yellow-700": $yellow-700,
  "yellow-800": $yellow-800
) !default;

$red-000: tint-color($red, 80%) !default;
$red-100: tint-color($red, 60%) !default;
$red-200: tint-color($red, 40%) !default;
$red-300: tint-color($red, 20%) !default;
$red-400: $red !default;
$red-500: shade-color($red, 20%) !default;
$red-600: shade-color($red, 40%) !default;
$red-700: shade-color($red, 60%) !default;
$red-800: shade-color($red, 80%) !default;

$reds: (
  "red-000": $red-000,
  "red-100": $red-100,
  "red-200": $red-200,
  "red-300": $red-300,
  "red-400": $red-400,
  "red-500": $red-500,
  "red-600": $red-600,
  "red-700": $red-700,
  "red-800": $red-800
) !default;

$success-000: tint-color($success, 80%) !default;
$success-100: tint-color($success, 60%) !default;
$success-200: tint-color($success, 40%) !default;
$success-300: tint-color($success, 20%) !default;
$success-400: $success !default;
$success-500: shade-color($success, 20%) !default;
$success-600: shade-color($success, 40%) !default;
$success-700: shade-color($success, 60%) !default;
$success-800: shade-color($success, 80%) !default;

$successes: (
  "success-000": $success-000,
  "success-100": $success-100,
  "success-200": $success-200,
  "success-300": $success-300,
  "success-400": $success-400,
  "success-500": $success-500,
  "success-600": $success-600,
  "success-700": $success-700,
  "success-800": $success-800
) !default;

$error-000: tint-color($error, 80%) !default;
$error-100: tint-color($error, 60%) !default;
$error-200: tint-color($error, 40%) !default;
$error-300: tint-color($error, 20%) !default;
$error-400: $error !default;
$error-500: shade-color($error, 20%) !default;
$error-600: shade-color($error, 40%) !default;
$error-700: shade-color($error, 60%) !default;
$error-800: shade-color($error, 80%) !default;

$errors: (
  "error-000": $error-000,
  "error-100": $error-100,
  "error-200": $error-200,
  "error-300": $error-300,
  "error-400": $error-400,
  "error-500": $error-500,
  "error-600": $error-600,
  "error-700": $error-700,
  "error-800": $error-800
) !default;

$primary-000: tint-color($primary, 80%) !default;
$primary-100: tint-color($primary, 60%) !default;
$primary-200: tint-color($primary, 40%) !default;
$primary-300: tint-color($primary, 20%) !default;
$primary-400: $primary !default;
$primary-500: shade-color($primary, 20%) !default;
$primary-600: shade-color($primary, 40%) !default;
$primary-700: shade-color($primary, 60%) !default;
$primary-800: shade-color($primary, 80%) !default;

$primaries: (
  "primary-000": $primary-000,
  "primary-100": $primary-100,
  "primary-200": $primary-200,
  "primary-300": $primary-300,
  "primary-400": $primary-400,
  "primary-500": $primary-500,
  "primary-600": $primary-600,
  "primary-700": $primary-700,
  "primary-800": $primary-800
) !default;

$secondary-000: tint-color($secondary, 80%) !default;
$secondary-100: tint-color($secondary, 60%) !default;
$secondary-200: tint-color($secondary, 40%) !default;
$secondary-300: tint-color($secondary, 20%) !default;
$secondary-400: $secondary !default;
$secondary-500: shade-color($secondary, 20%) !default;
$secondary-600: shade-color($secondary, 40%) !default;
$secondary-700: shade-color($secondary, 60%) !default;
$secondary-800: shade-color($secondary, 80%) !default;

$secondaries: (
  "secondary-000": $secondary-000,
  "secondary-100": $secondary-100,
  "secondary-200": $secondary-200,
  "secondary-300": $secondary-300,
  "secondary-400": $secondary-400,
  "secondary-500": $secondary-500,
  "secondary-600": $secondary-600,
  "secondary-700": $secondary-700,
  "secondary-800": $secondary-800
) !default;

$colors-shades: (
  "grey":       $greys,
  "blue":       $blues,
  "purple":     $purples,
  "red":        $reds,
  "yellow":     $yellows,
  "green":      $greens,
  "success":    $successes,
  "error":      $errors,
  "primary":    $primaries,
  "secondary":  $secondaries
) !default;


$body-background-color: $white !default;
$sidebar-color: $grey-000 !default;
$search-background-color: $white !default;
$table-background-color: $white !default;
$code-background-color: $grey-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;

$body-text-color: $grey-500 !default;
$body-heading-color: $grey-800 !default;
$search-result-preview-color: $grey-400 !default;
$nav-child-link-color: $grey-500 !default;
$link-color: $primary !default;
$btn-primary-color: $primary !default;
$base-button-color: #f7f7f7 !default;

// Spacing

$spacing-unit: 1rem; // 1rem == 16px

$spacers: (
  sp-0: 0,
  sp-1: $spacing-unit * 0.25,
  sp-2: $spacing-unit * 0.5,
  sp-3: $spacing-unit * 0.75,
  sp-4: $spacing-unit,
  sp-5: $spacing-unit * 1.5,
  sp-6: $spacing-unit * 2,
  sp-7: $spacing-unit * 2.5,
  sp-8: $spacing-unit * 3,
  sp-9: $spacing-unit * 3.5,
  sp-10: $spacing-unit * 4,
) !default;
$sp-1: map-get($spacers, sp-1) !default; // 0.25 rem == 4px
$sp-2: map-get($spacers, sp-2) !default; // 0.5  rem == 8px
$sp-3: map-get($spacers, sp-3) !default; // 0.75 rem == 12px
$sp-4: map-get($spacers, sp-4) !default; // 1    rem == 16px
$sp-5: map-get($spacers, sp-5) !default; // 1.5  rem == 24px
$sp-6: map-get($spacers, sp-6) !default; // 2    rem == 32px
$sp-7: map-get($spacers, sp-7) !default; // 2.5  rem == 40px
$sp-8: map-get($spacers, sp-8) !default; // 3    rem == 48px
$sp-9: map-get($spacers, sp-9) !default; // 3.5  rem == 56px
$sp-10: map-get($spacers, sp-10) !default; // 4  rem == 64px

// Borders

$border: 1px solid !default;
$border-radius: 4px !default;
$border-color: $grey-100 !default;

// Grid system

$gutter-spacing: $sp-6 !default;
$gutter-spacing-sm: $sp-4 !default;
$nav-width: 264px !default;
$nav-width-md: 248px !default;
$nav-list-item-height: $sp-6 !default;
$nav-list-item-height-sm: $sp-8 !default;
$nav-list-expander-right: true;
$content-width: 800px !default;
$header-height: 60px !default;
$search-results-width: $content-width - $nav-width !default;
$transition-duration: 400ms;

// Media queries in pixels

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: $content-width,
  lg: $content-width + $nav-width,
  xl: 1400px,
) !default;


// Select

$form-select-indicator-color:  $body-text-color !default;
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;
// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
) !default;

// Form
$form-check-input-checked-color: $white;
$form-check-input-indeterminate-color: $white;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !default;
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>") !default;
$form-check-input-indeterminate-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>") !default;
