$body-background-color: $grey-800;
$sidebar-color: $grey-800;
$border-color: $grey-600;
$body-text-color: $grey-400;
$body-heading-color: $grey-000;
$nav-child-link-color: $grey-400;
$search-result-preview-color: $grey-400;
$btn-base-color: $grey-700;
$search-background-color: $grey-700;
$table-background-color: $grey-700;
$feedback-color: darken($sidebar-color, 3%);
$code-background-color: #31343f;
$form-inner-box-shadow: inset 0 0 0 2px $grey-600;
$form-disabled-background-color: $grey-700;
$form-disabled-color: $grey-500;
$form-disabled-primary-color: $green-300;
$form-check-background-color: $grey-800;
$form-check-inner-box-shadow: inset 0 0 0 1px $grey-600;
