.form-control,
.form-select,
.form-control-plaintext {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 0.3em;
  padding-right: 1em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  border-width: 0;
  border-radius: $border-radius;
  color: $body-text-color;
  background-color: transparent;
  width: 100%;
  appearance: none;
  vertical-align: middle;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }

  &:autofill,
  &:-webkit-autofill {
    background-color: transparent;
  }
}

.form-control,
.form-select {
  box-shadow: $form-inner-box-shadow;

  &:hover {
    box-shadow: $form-inner-box-shadow-active;
  }

  &:active,
  &:focus {
    box-shadow: $form-inner-box-shadow-active, $form-outer-box-shadow-active;
  }

  &:disabled,
  &[readonly],
  &.disabled {
    &:hover,
    &:active,
    &:focus {
      box-shadow: $form-inner-box-shadow;
    }
  }

  &:disabled,
  &.disabled {
    opacity: 1;

    &,
    &:hover {
      color: $form-disabled-color;
      cursor: default;
      background-color: $form-disabled-background-color;
    }
  }
}

.form-control {
  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap
    cursor: pointer;

    &::-ms-browse {
      padding-top: 0.3em;
      padding-right: 1em;
      padding-bottom: 0.3em;
      padding-left: 1em;
      margin-top: -0.3em;
      margin-bottom: -0.3em;
      margin-left: -1em;
      pointer-events: none;
      border-color: inherit;
      border-style: solid;
      border-width: 0;
      appearance: none;
      color: $link-color;
      background: transparent;
      box-shadow: $form-inner-box-shadow;
    }

    &::-webkit-file-upload-button {
      padding-top: 0.3em;
      padding-right: 1em;
      padding-bottom: 0.3em;
      padding-left: 1em;
      margin-top: -0.3em;
      margin-bottom: -0.3em;
      margin-left: -1em;
      pointer-events: none;
      border-color: inherit;
      border-style: solid;
      border-width: 0;
      appearance: none;
      color: $link-color;
      background: transparent;
      box-shadow: $form-inner-box-shadow;
    }

    &::file-selector-button {
      padding-top: 0.3em;
      padding-right: 1em;
      padding-bottom: 0.3em;
      padding-left: 1em;
      margin-top: -0.3em;
      margin-bottom: -0.3em;
      margin-left: -1em;
      pointer-events: none;
      border-color: inherit;
      border-style: solid;
      border-width: 0;
      appearance: none;
      color: $link-color;
      background: transparent;
      box-shadow: $form-inner-box-shadow;
    }

    &:hover,
    &:active,
    &:focus {
      &::-ms-browse {
        box-shadow: $form-inner-box-shadow-active;
      }

      &::-webkit-file-upload-button {
        box-shadow: $form-inner-box-shadow-active;
      }

      &::file-selector-button {
        box-shadow: $form-inner-box-shadow-active;
      }
    }

    &:disabled,
    &[readonly],
    &.disabled {
      cursor: not-allowed;

      &:hover,
      &:active,
      &:focus {
        &::-ms-browse {
          box-shadow: $form-inner-box-shadow;
        }

        &::-webkit-file-upload-button {
          box-shadow: $form-inner-box-shadow;
        }

        &::file-selector-button {
          box-shadow: $form-inner-box-shadow;
        }
      }
    }

    &:disabled,
    &.disabled {
      &::-ms-browse {
        color: $form-disabled-primary-color;
      }

      &::-webkit-file-upload-button {
        color: $form-disabled-primary-color;
      }

      &::file-selector-button {
        color: $form-disabled-primary-color;
      }
    }
  }

  &.form-control-color {
    width: 3rem;
    padding: 0.1em 0.25em;
    height: 2.1em;
    margin-right: calc(100% - 3rem);

    &::-moz-color-swatch {
      border: 0 !important; // stylelint-disable-line declaration-no-important
      border-radius: $border-radius;
    }

    &::-webkit-color-swatch {
      border-radius: $border-radius;
    }
  }
}

.form-select {
  background-image: escape-svg($form-select-indicator);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  padding-right: calc(1em + 16px);
  background-color: $body-background-color;
}

[list].form-control {
  &:hover,
  &:active,
  &:focus {
    background-image: escape-svg($form-select-indicator);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    padding-right: calc(1em + 16px);
  }

  &:disabled,
  &[readonly],
  &.disabled {
    &:hover,
    &:active,
    &:focus {
      background-image: none;
      padding-right: calc(1em + 16px);
    }
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: $grey-400;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  margin-bottom: 0.125rem;
  vertical-align: middle;
}

.form-check .form-check-input,
.task-list-item .task-list-item-checkbox {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: $form-check-background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: $form-check-inner-box-shadow;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;

  &[type="checkbox"] {
    border-radius: 0.25em;
  }

  &[type="radio"] {
    border-radius: 50%;
  }

  &:checked {
    background-color: $form-primary-color;
    box-shadow: $form-check-inner-box-shadow-active;

    &[type="checkbox"] {
      background-image: escape-svg($form-check-input-checked-bg-image);
    }

    &[type="radio"] {
      background-image: escape-svg($form-check-radio-checked-bg-image);
    }
  }

  &:indeterminate[type="checkbox"] {
    background-color: $form-primary-color;
    box-shadow: $form-check-inner-box-shadow-active;
    background-image: escape-svg($form-check-input-indeterminate-bg-image);
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: $form-check-inner-box-shadow-active,
      $form-outer-box-shadow-active;
    text-decoration: none;
    outline: none;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    &,
    &:hover {
      cursor: default;
      background-color: $form-disabled-background-color;
      background-image: none;
      box-shadow: $form-check-inner-box-shadow;
    }

    &:checked {
      background-color: $form-disabled-primary-color;

      &[type="checkbox"] {
        background-image: escape-svg($form-check-input-checked-bg-image);
      }

      &[type="radio"] {
        background-image: escape-svg($form-check-radio-checked-bg-image);
      }
    }

    &:indeterminate[type="checkbox"] {
      background-color: $form-disabled-primary-color;
      background-image: escape-svg($form-check-input-indeterminate-bg-image);
    }

    & ~ .form-check-label {
      cursor: default;
      color: $form-disabled-color;
    }
  }
}

.invalid-feedback,
.valid-feedback {
  display: none;
}

.was-validated {
  .form-control,
  .form-select {
    &:invalid {
      box-shadow: $form-inner-box-shadow-error;
      background-image: escape-svg($form-error-indicator);
      background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 16px 16px;
      padding-right: calc(1em + 16px);

      &:active,
      &:focus {
        box-shadow: $form-inner-box-shadow-error, $form-outer-box-shadow-error;
      }

      ~ .form-label {
        display: block;
        color: $error-300;
      }

      ~ .invalid-feedback {
        display: block;
        color: $error-300;
      }
    }

    &:valid {
      box-shadow: $form-inner-box-shadow-success;
      background-image: escape-svg($form-success-indicator);
      background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 16px 16px;
      padding-right: calc(1em + 16px);

      &:active,
      &:focus {
        box-shadow: $form-inner-box-shadow-success,
          $form-outer-box-shadow-success;
      }

      ~ .valid-feedback {
        display: block;
        color: $success-300;
      }
    }
  }

  .form-check-input,
  .task-list-item-checkbox {
    &:invalid {
      box-shadow: $form-check-inner-box-shadow-error;

      &:hover,
      &:active,
      &:focus {
        box-shadow: $form-check-inner-box-shadow-error,
          $form-outer-box-shadow-error;
      }

      ~ .form-check-label {
        color: $error-300;
      }

      ~ .invalid-feedback {
        display: block;
        color: $error-300;
      }

      &:checked,
      &:indeterminate[type="checkbox"] {
        background-color: $error-400;
      }
    }

    &:valid {
      box-shadow: $form-check-inner-box-shadow-success;

      &:hover,
      &:active,
      &:focus {
        box-shadow: $form-inner-box-shadow-success,
          $form-outer-box-shadow-success;
      }

      ~ .form-check-label {
        color: $success-300;
      }

      ~ .valid-feedback {
        display: block;
        color: $success-300;
      }

      &:checked,
      &:indeterminate[type="checkbox"] {
        background-color: $success-400;
      }
    }
  }
}

:not(.was-validated) {
  .invalid-feedback,
  .valid-feedback {
    display: none;
  }
}
