.form-control, .form-select, .form-control-plaintext {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    border-width: 0;
    border-radius: $border-radius;
    appearance: none;
    color: $body-text-color;
    background-color: transparent;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;

    &:hover, &:active, &:focus  {
        text-decoration: none;
        outline: none;
    }
}
.form-control, .form-select {
    box-shadow:  inset 0 0 0 2px $grey-300;

    &:not(:disabled):not([readonly]):not(.disabled) {
        &:hover {
            box-shadow: inset 0 0 0 2px $primary;
        }

        &:active, &:focus  {
            box-shadow: inset 0 0 0 2px $primary, 0 0 0 3px rgba($btn-primary-color, 0.25);
        }
    }
    
    &:disabled,
    &.disabled {
        opacity: 1;
        &,
        &:hover {
            color: $grey-400;
            cursor: default;
            background-color: $grey-100;
        }
    }
}

.form-control {
    &[type="file"] {
        overflow: hidden; // prevent pseudo element button overlap
    
        &:not(:disabled):not([readonly]) {
          cursor: pointer;
        }
    }
    

    &.form-control-color {
        width: 3rem;
        padding: 0.1em 0.25em 0.1em 0.25em;
        height: 2.1em;
        margin-right: calc(100% - 3rem);

        &::-moz-color-swatch {
            border: 0 !important; // stylelint-disable-line declaration-no-important
            border-radius: $border-radius;
        }
    
        &::-webkit-color-swatch {
            border-radius: $border-radius;
        }
    }
}

.form-select {
    background-image:  escape-svg($form-select-indicator);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    padding-right: calc(1em + 16px);
}

[list].form-control {
    &:not(:disabled):not([readonly]):not(.disabled) {
        &:hover, &:active, &:focus  {
            background-image: escape-svg($form-select-indicator);
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px 12px;
            padding-right: calc(1em + 16px);
        }
    }
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-text {
    margin-top: 0.25rem;
    font-size: .875em;
    color: $grey-300;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}


.form-check {
    display: block;
    min-height: 1.5rem;
    margin-bottom: 0.125rem;
    vertical-align: middle;

    .form-check-input {

        width: 1em;
        height: 1em;
        margin-top: 0.25em;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        box-shadow: inset 0 0 0 1px $grey-300;
        appearance: none;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        print-color-adjust: exact;

        &[type=checkbox] {
            border-radius: 0.25em;
        }
        &[type=radio] {
            border-radius: 50%;
        }
        &:not(:disabled):not(.disabled):not([disabled]) {
            &:hover, &:active, &:focus {
                box-shadow: inset 0 0 0 1px $primary, 0 0 0 3px rgba($btn-primary-color, 0.25);
                text-decoration: none;
                outline: none;
            }


            &:checked {
                background-color: $primary;
                box-shadow: inset 0 0 0 1px $primary;

                &[type=checkbox] {
                    background-image: escape-svg($form-check-input-checked-bg-image);
                }
                &[type=radio] {
                    background-image: escape-svg($form-check-radio-checked-bg-image);
                }
            }

            &:indeterminate[type=checkbox] {
                background-color: $primary;
                box-shadow: inset 0 0 0 1px $primary;
                background-image: escape-svg($form-check-input-indeterminate-bg-image);
            }
        }

        &:disabled,
        &.disabled,
        &[disabled] {
            &,
            &:hover {
                cursor: default;
                background-color: $grey-100;
                background-image: none;
            }

            &:checked {
                background-color: $primary-100;
                &[type=checkbox] {
                    background-image: escape-svg($form-check-input-checked-bg-image);
                }
                &[type=radio] {
                    background-image: escape-svg($form-check-radio-checked-bg-image);
                }
            }

            &:indeterminate[type=checkbox] {
                background-color: $primary-100;
                background-image: escape-svg($form-check-input-indeterminate-bg-image);
            }

            &~.form-check-label {
                cursor: default;
                opacity: .5;
            }
        }
    }
}

